<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.tailwindcss.com"></script>
<body>
<div th:fragment="toast">

    <div id="toast"
         th:if="${toast}"
         th:classappend="${toast == 'added'   ? 'bg-green-500' :
                          toast == 'login'   ? 'bg-blue-500' :
                          toast == 'logout'   ? 'bg-blue-500' :
                          toast == 'cancel'   ? 'bg-blue-500' :
                          toast == 'cartNull'   ? 'bg-yellow-400 text-black' :
                          toast == 'error'   ? 'bg-red-500' :
                          toast == 'warning' ? 'bg-yellow-400 text-black' :
                          'bg-gray-600'}"
         class=" fixed top-16 right-6
           px-4 py-2 rounded-xl
           shadow-[0_10px_25px_rgba(0,0,0,0.15)]
           text-white text-sm font-medium
           transform transition-all duration-500 ease-out
           opacity-0 translate-y-4 scale-95">

        <!-- アイコン -->
        <span class="text-lg">
            <span th:if="${toast} == 'added'">✅</span>
            <span th:if="${toast} == 'login'">🔐</span>
            <span th:if="${toast} == 'logout'">🔐</span>
            <span th:if="${toast} == 'cancel'">❌</span>
            <span th:if="${toast} == 'cartNull'">⚠️</span>
            <span th:if="${toast} == 'error'">❌</span>
            <span th:if="${toast} == 'warning'">⚠️</span>
        </span>

        <!-- メッセージ -->
        <span th:text="${toast == 'added'   ? 'カートに追加しました' :
                        toast == 'login'   ? 'ログインしました' :
                        toast == 'logout'   ? 'ログアウトしました' :
                        toast == 'cancel'   ? 'キャンセルしました' :
                        toast == 'cartNull'   ? 'カートに商品が追加されていません' :
                        toast == 'error'   ? 'エラーが発生しました' :
                        toast == 'warning' ? '在庫がありません' :
                        ''}">
        </span>
    </div>
    <script>
        const toast = document.getElementById('toast');
    if (toast) {
        // 表示
        setTimeout(() => {
            toast.classList.remove(
                'opacity-0', 'translate-y-4', 'scale-95'
            );
            toast.classList.add(
                'opacity-100', 'translate-y-0', 'scale-100', 'ease-out'
            );
        }, 50);

        // 非表示
        setTimeout(() => {
            toast.classList.remove(
                'opacity-100', 'translate-y-0', 'scale-100', 'ease-out'
            );
            toast.classList.add(
                'opacity-0', 'translate-y-4', 'scale-95', 'ease-in'
            );
        }, 2800);

        // 完全削除
        setTimeout(() => {
            toast.remove();
        }, 3500);
    }
    </script>
</div>
</body>
</html>
