<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

<div class="max-w-md mx-auto mt-20 p-8 bg-white shadow-lg rounded">
    <h1 class="text-2xl font-hold mb-6 text-center">ユーザー登録</h1>

    <form th:action="@{/register}" th:object="${user}" method="post" class="space-y-4">


        <!-- ユーザー名-->
        <div>
            <label class="block mb-1">ユーザー名</label>
            <input type="text" th:field="*{username}"
                   class="w-full p-2 border rounded">
        <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('username')}"
           th:errors="*{username}"></p>
        </div>

        <!-- メールアドレス -->
        <div>
            <label class="block mb-1">メールアドレス</label>
            <input type="email" th:field="*{email}"
                   class="w-full p-2 border rounded">
            <p class="text-red-500 text-sm" th:if="${emailError}"
               th:text="${emailError}"></p>
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}"></p>
        </div>

        <!-- パスワード -->
        <div>
            <label class="block mb-1">パスワード</label>
            <input type="password" th:field="*{password}"
                   class="w-full p-2 border rounded">
            <p class="text-red-500 text-sm" th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}"></p>
        </div>

        <!-- 登録ボタン -->
        <button type="submit"
                class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">
            登録
        </button>
    </form>
</div>
</body>
</html>